.view{
    flex: 1;
    padding: 0px 25%;
    text-align: center;
}

@media screen and (max-width: 900px){
    .view{
        padding: 0px 5%;
    }
}
.view
.hidden_text{
    font-size: 0.2em;
    margin: -24px 0px;
}

.text-input{
    margin-bottom: 16px;
}

.text-input p{
    font-weight: 600;
}