.navbar{
    display: flex;
    align-items: center;
    
    height: 80px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
}

.navbar-item{
    color: #3B434E;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-logo{
    color: #EEA35D;

    font-size: 3em;
    font-family: 'Amatic SC', cursive;
}

.navbar-logo:hover{
    color: #ffc98d;
}

.push-right{
    margin-right: 0px;
    margin-left: auto;
}
